@using Panoptic.Areas.Ops.Models
@model Panoptic.Areas.Ops.Models.OpsModel

@{
    ViewBag.Title = Model.Name;
}

@functions {
    internal string StatusToText(ServiceStatusModel serviceStatus)
    {
        switch (serviceStatus.Status)
        {
            case ServiceStatus.Ok:
                return "Ok";
            case ServiceStatus.Warning:
                return "Warning";
            case ServiceStatus.Error:
                return "Error";
            default:
                return "alert-info";
        }
    }

    internal string StatusToCssAlertClass(ServiceStatusModel serviceStatus)
    {
        switch (serviceStatus.Status)
        {
            case ServiceStatus.Ok :
                return "alert-success";
            case ServiceStatus.Warning:
                return "alert-warning";
            case ServiceStatus.Error:
                return "alert-danger";
            default:
                return "Unknown";
        }
    }
}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <p class="lead">@Html.DisplayFor(model => model.Description)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Status</h2>
        <p>
            The status of the different environments.
        </p>

        @foreach (var environment in Model.EnvironmentStatus)
        {
            <h3>@Html.DisplayFor(model => environment.Name)</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Issues</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in environment.Services)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => service.Name)</td>
                            <td class="alert @StatusToCssAlertClass(service)">@StatusToText(service)</td>
                            <td>@Html.DisplayFor(model => service.Notification)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
            <br />
        }
    </div>
    <div class="col-md-4">
        <h2></h2>

        <h3>Outstanding issues</h3>
        <p>
            The outstanding issues
        </p>


        
        <h3>Releases</h3>
        <p>
            The different versions of the tools that are active
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var release in Model.Releases)
                {
                    <tr>
                        <td>@release.Name</td>
                        <td>@release.Version.ToString(3)</td>
                        <td>@release.Date.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            Random news
        </p>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">2015-05-01: Tool 1 released</h3>
            </div>
            <div class="panel-body">
                An awesome new version of this tool was released.
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">2015-05-01: Tool 2 released</h3>
            </div>
            <div class="panel-body">
                An awesome new version of this tool was released.
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">2015-05-01: Tool 3 released</h3>
            </div>
            <div class="panel-body">
                An awesome new version of this tool was released.
            </div>
        </div>
    </div>
</div>
