@using Panoptic.Web.Server.Controllers
@using Panoptic.Web.Server.Common

@model IList<Panoptic.Web.Server.Common.IRouteDescription>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>@ViewBag.Title</title>

        <base href="/" />

        @Styles.Render("~/Content/css")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/bootstrap")

        @Scripts.Render("~/bundles/panoptic")

        <!--
            Inject the global variables into an angular service.
            From: http://dotnetspeak.com/2013/07/injecting-global-variables-into-angular-through-asp-net-mvc-master-page
        -->
        <script type="text/javascript">
            angular.module('panoptic.globals', []).factory('globalsService', function ()
            {
                var globals = {};
                globals.baseUrl = '@(Url.Content("~/"))';
                globals.webApiBaseUrl = '@(Url.Content("~/api/v1/"))';
                globals.version = '@(typeof(HomeController).Assembly.GetName().Version.ToString())';
                return globals;
            });
        </script>
        <script>
            angular.module('panoptic')
                .config([
                '$locationProvider',
                '$routeProvider',
                'globalsServiceProvider',
                function (
                    $locationProvider,
                    $routeProvider,
                    globalsServiceProvider)
                {
                    function createViewUrl(fragmnt, globals)
                    {
                        return globals.baseUrl + 'Client/' + fragmnt;
                    }

                    $locationProvider.html5Mode(true);

                    globals = globalsServiceProvider.$get();
                    $routeProvider
                        .when('/', {
                            controller: 'HomeController',
                            templateUrl: 'client/home/views/home.html'
                        })
                    @foreach (var route in Model)
                    {
                        @:.when(
                        @:    '/@route.AngularRouteTemplate',
                        @:    {
                        @:        controller: '@route.AngularController',
                        @:        templateUrl: createViewUrl('@route.AngularTemplateUri', globals)
                        @:    })
                    }
                        .otherwise({
                            redirectTo: '/'
                        });
                }])
        </script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini" ng-app="panoptic">
        <header class="main-header" ng-controller="NavbarController">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">@ViewBag.Title</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @RenderBody()

        <!-- /.content-wrapper -->
        <footer class="main-footer" ng-controller="PageFooterController">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.2
            </div>
            <strong>&copy; {{ date | date:'yyyy-MM-dd' }} - P. van der Velde</strong> All rights
            reserved.
        </footer>
    </body>
</html>
