@using Panoptic.UI.Web.Areas.Ops.Models
@model Panoptic.UI.Web.Areas.Ops.Models.OpsModel

@{
    ViewBag.Title = Model.Name;
}

@functions {
    internal string StatusToText(ServiceStatus status)
    {
        switch (status)
        {
            case ServiceStatus.Ok:
                return "Ok";
            case ServiceStatus.Warning:
                return "Warning";
            case ServiceStatus.Error:
                return "Error";
            default:
                return "alert-info";
        }
    }

    internal string StatusToCssAlertClass(ServiceStatus status)
    {
        switch (status)
        {
            case ServiceStatus.Ok:
                return "alert-success";
            case ServiceStatus.Warning:
                return "alert-warning";
            case ServiceStatus.Error:
                return "alert-danger";
            default:
                return "Unknown";
        }
    }
}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <p class="lead">@Html.DisplayFor(model => model.Description)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Service status</h2>
        <p>
            The status of the different services.
        </p>

        @foreach (var environment in Model.EnvironmentStatus)
        {
            <h3>@Html.DisplayFor(model => environment.Name)</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in environment.Services)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => service.Name)</td>
                            <td class="alert @StatusToCssAlertClass(service.Status)">@StatusToText(service.Status)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p>@Html.ActionLink("More information \u00bb", "Index", "Status", new { area = "ops", environment = environment.Name }, new { @class = "btn btn-default" })</p>
            <br />
        }
    </div>
    <div class="col-md-4">
        <h2>Outstanding issues</h2>

        <div>
            @foreach (var issueSet in Model.Issues)
            {
                <a class="btn btn-lg btn-primary" href="">
                    <span>@issueSet.Name</span>
                    <h1>@issueSet.Count</h1>
                </a>
            }
        </div>
    </div>
    <div class="col-md-4">
        <h2>News</h2>

        @foreach (var newsItem in Model.NewsItems)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@newsItem.Date.ToString("yyyy-MM-dd"): @newsItem.Summary</h3>
                </div>
                <div class="panel-body">
                    @newsItem.Description
                </div>
            </div>
        }

        <h2>Tools</h2>
        <p>
            The different information about the tools that are active.
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th rowspan="2">Name</th>
                    <th colspan="2">Release</th>
                    <th colspan="2">Number of</th>
                </tr>
                <tr>
                    <th>Version</th>
                    <th>Date</th>
                    <th>Releases</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var release in Model.Releases)
                {
                    <tr>
                        <td>@release.Name</td>
                        <td>@release.Version.ToString(3)</td>
                        <td>@release.Date.ToString("yyyy-MM-dd")</td>
                        <td>10</td>
                        <td>15</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
